
.primary-btn{
    background-color: #ed193b;
    
    padding: 5px 8px;
    color: rgb(253, 250, 250);
    border-radius: 6px;

    
}

.primary-btn:hover{
    background-color: #de0d30;
/* transition: all 0.4s; */
}
.card{

    border-radius: 5px;
}
