@tailwind base;
@tailwind components;
@tailwind utilities;

.text-red{
    color: rgb(237, 10, 10);
}

.bg-red{
    background-color: rgb(237, 10, 10);
}

.bg-primary{
    background-color: rgb(237, 10, 10);
}